result/
.DS_Store
.hex
.txt
.log
results/
results-*/
local/
build/
*.hex
*.elf
*.bin
*.txt
*.log
*.vcd
__pycache__/
*.pyc
obj_dir/
obj_dir_*/
obj_dir_input/
obj_dir_trace/
whisper/
boost_1_88_0/
fwuart-16550/
!core/
!core/test/
core/test/*
!core/test/mints_asm_bench.c
!core/test/muldiv_string_size.c
!core/test/mints_counter.c
!core/test/plic_seip.c
!core/test/plic_uart_irq.c
!core/test/uart_input.c
!core/test/uart_output.c
!core/test/uart_regs.c
!core/test/uart_rx_seip.c
!core/test/uart_tx_seip.c
!core/test/uart_tx_irq.c
!core/test/hex/
!core/test/hex/*.hex
!core/test/os2_min/
core/test/os2_min/*
!core/test/os2_min/*.c
!core/test/os2_min/*.S
!core/test/os2_min/*.h
!core/test/os2_min/*.ld
